*{
    margin:0;
    padding:0;
}

header{
    display:flex;
    justify-content:center;
    justify-content:space-around;
    margin-top:20px;
}
pre{
    font-size:30px;
    margin:79px 0 0 520px ;
}
.sutuation-tache{
    display:flex;
    justify-content:center;
    justify-content:space-around;
}
.To-do{
    border-bottom:5px red solid;
    width:100px;
}
.In-progress{
    border-bottom:5px yellow solid;
    width:100px;
}
.Done{
    border-bottom:5px green solid;
    width:100px;
}

.filter{
display:flex;
justify-content:space-evenly;
margin-left:290px;
}
#button-sup-edit{
    margin:10px;
}